
#!server:{
#!	hostIp:"127.0.0.1"
#!	listenPort:8080
#!	serverDomains:"localhost","www.monsite.local"
#!	pathRoot:"./www/site1"
#!	indexFiles:"index.html","index.htm"
#!	clientMaxBodySize:10485760
#!	errorPage:404,"/errors/404.html"
#!	errorPage:500,502,503,"/errors/50x.html"
#!	location:{
#!			name:"/"
#!			pathRoot:"./www/site0/root"
#!			indexFiles:"index.html","index.htm"
#!			allowedMethods:"GET","POST"
#!			autoIndex:"false"
#!			pathUploadStore:"./www/uploads"
#!			cgiExtension:".py","/usr/bin/python3"
#!	}
                      #!	location:{
#!		name:"/images"
#!		pathRoot:"./www/site1/public"
#!		allowedMethods:"GET"
#!		autoIndex:"true"
                    #!	}
#!}


server:          {  #! asdpajsdposajda
					              			              hostIp          : "127.0.0.1"
	listenPort:8080
	serverDomains:"bob","www.myalt.swag", "127.0.0.1"
	pathRoot:"./www/siteswagger"
	indexFiles:"index.html","index.htm"
	clientMaxBodySize:10485760
	errorPage:404,"/errors/404.html"
	errorPage:500,502,503,"/errors/50x.html"
	location:{
            name:"/redirection-landing"
            redirect:301,"/redirection-redirected"
    }
	location:{
			name:"/redir"
			redirect:301, "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
	}
	location:{
			name:"/"
			pathRoot:"./www/site0/root"
			indexFiles:"index.html","index.htm"
			allowedMethods:"GET","POST","DELETE"
			autoIndex:"false"
			pathUploadStore:"./www/uploads"
#!			cgiExtension:".sh","/usr/bin/bash"
	}
	location:{
			name:"/html"
			pathRoot:"./www/site0"
			allowedMethods:"GET"
			autoIndex:"true"
	}
	location:{
			name:"/wordpress"
			pathRoot:"./www/site0/wordpress"
			indexFiles:"index.php"
			allowedMethods:"GET","POST","DELETE"
			autoIndex:"false"
			cgiExtension:".php","/usr/bin/php-cgi"
             }
}

server:          {  #! asdpajsdposajda
					              			              hostIp          : "10.0.2.15"
	listenPort:8080
	serverDomains:"bob","www.myalt.swag", "10.0.2.15", "127.0.0.1"
	pathRoot:"./www/siteswagger"
	indexFiles:"index.html","index.htm"
	clientMaxBodySize:10485760
	errorPage:404,"/errors/404.html"
	errorPage:500,502,503,504,"/errors/50x.html"
	location:{
            name:"/redirection-landing"
            redirect:301,"/redirection-redirected"
    }
	location:{
			name:"/"
			pathRoot:"./www/site0/root"
			indexFiles:"index.html","index.htm"
			allowedMethods:"GET","POST","DELETE"
			autoIndex:"false"
			pathUploadStore:"./www/uploads"
#!			cgiExtension:".sh","/usr/bin/bash"
	}
	location:{
			name:"/html"
			pathRoot:"./www/site0"
			allowedMethods:"GET"
			autoIndex:"true"
	}
	location:{
			name:"/redir"
			redirect:301, "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
	}
	location:{
			name:"/wordpress"
			pathRoot:"./www/site0/wordpress"
			indexFiles:"index.php"
			allowedMethods:"GET","POST","DELETE"
			autoIndex:"false"
			cgiExtension:".php","/usr/bin/php-cgi"
    }
	location:{
		name:"/timeout"
		pathRoot:"./www/site0/timeout"
		indexFiles:"timeout.php"
		allowedMethods:"GET"
		autoIndex:"false"
		cgiExtension:".php","/usr/bin/php-cgi"
	}
}