server:{
	hostIp:"127.0.0.1"
	listenPort:8080
	serverDomains:"localhost"
	pathRoot:"/www/YoupiBanane/"
	location:{
		name:"/.bla"
		allowedMethods:"POST"
		cgiExtension:".bla","/home/lupayet/Downloads/cgi_tester"
	}
	location:{
		name:"/"
		allowedMethods:"GET"
		indexFiles:"youpi.bla"
		cgiExtension:".bla","/home/lupayet/Downloads/cgi_tester"
	}
	location:{
		name:"/post_body"
		allowedMethods:"POST"
		clientMaxBodySize:100
	}
	location:{
		name:"/directory"
		indexFiles:"youpi.bad_extension"
		allowedMethods:"GET"
	}
}
